
body {
  background-color: #6b6b6b;
  color: #ddd;
  padding: 10px;
}

form h2 {
  display: none;
}

a, .btn-link {
  color: #81ceff;
  padding: 10px;
}

.btn-primary {
 color: #333;
 background-color: #81ceff;
 border-color: #fff;
}

.btn-lg {
 border-radius: 0px;
}
