body {
  background: #09091a;
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
}

div.container {
  background-image: url(http://localhost:4444/acme-logo.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-size: 60px;
}

h1 {
  margin-left: 80px;
  margin-bottom: 40px;
}

ul {
  list-style: none;
}
a {
  color: #1fbad6;
}

.form-control {
  border-radius: 2px;
}


#artikcloud-iframe-signin {
  width: 400px;
  height: 400px;
  margin: 20px
}


.btn-lg {
  border-radius: 4px;
}
.well {
  color: #333;
}

.login-icon {
  padding-right: 12px;
}

.login-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-or {
  color: #eee;
}

.powered {
  font-size: 12px;
  color: #aaa;
  margin-left: 13px;
}

.btn-primary {
 color: #fff;
 background-color: #1fbad6;
 border-color: ##1fbad6;
}
