
body {
  background-color: #fff;
  color: #333;
  font-style: normal;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 14px;
  font-weight: 400;
}
ul {
  list-style: none;
}
li {
  color: #666;
}
a {
  color: #08c;
}

h2 {
  margin: 5;
}

.center {
  text-align: center;
}

.center {
  margin: 20px;
}

.content {
  width: 500px;
  line-height: 1.75;
  margin: 20 auto 20 auto;
}

.group {
  border-radius: 4px;
  padding: 10;
  background: #F1F3F4;
  margin: 10 0 10 0;
}

form {
    width: 100%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 40%;
    /* positions the label text beside the input */
    text-align: right;
}

label + input {
    width: 58%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 0 0 2%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
form[method=POST] input[type=submit] {
    float: right;
    margin-right: 16%;
}

form input[type=submit] {
    background: #C1C3C4;
    border: none;
    color: #333;
    padding: 10px 10px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;    
    cursor: pointer;
}

form.center input[type=submit] {
    float: none;
    margin-right: inherit;
    background: #00A9E0;
    color: #fff;
    font-size: 14px;
}



