body {
  color: #888;
  background: #e5eaec;
  font-family: Verdana, Geneva, sans-serif;
}

div.container {
  border: 1px solid #0d3e56;
  background: #c0ccd2;
  background-image: url(http://localhost:4444/acme-logo.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-size: 60px;
  max-width: 600px;
  padding: 20px;
}

#default-title {
  display: none;
}


#default-description {
  display: none;
}

.heading-title,
.heading-description {
  padding-left: 80px
}

h1, .heading-title {
  color: #0d3e56;
}


.heading-description {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.powered-by {
  text-align: center;
}
.powered-by img {
  margin-top: 20px;
  width: 250px;
}


/* SIGN IN */
.page-signin #application-title::before {
  content: "Sign in";
}

.page-signin #application-description::before {
  content: "An ARTIK Cloud sample application";
}

.side-panel {
  text-align: center;
  padding-top: 30px;
}


.signin-form-container {
  padding: 0px 30px;
}

.third-party-identity-providers-container {
    margin-top: 80px;
    border-right: 1px solid #aaa;
}

.content:not(.no-side-panel) .account-form {
  margin-top: 20px;
}
.content:not(.no-side-panel) .account-form:before {
  content: "or sign in with your email";
  color: #333;
  font-size: 16px;
  line-height: 40px;
}

.content:not(.no-side-panel) #signin .form-inputs {
  margin-top: 10px;
}


/* Multi identity providers side panel */
ul.list-unstyled {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.side-panel .btn {
  margin: 5px auto;
  padding: 10px 20px;
  font-size: 14px;
  color: #555;
  background-repeat: no-repeat;
  background-position: 30px center;
  width: 300px;
  text-align: left;
  padding-left: 80px;
  border: 1px solid #4a6477;
  background-color: #fff;
}


.side-panel .btn {
  font-size: 0px;
}
.side-panel .btn:after {
  font-size: 14px;
}


.side-panel .btn_SAMSUNG {
  background-image: url(http://localhost:4444/samsungCi.png);
  background-position: 10px center;
}

.side-panel .btn_GOOGLE {
  background-image: url(http://localhost:4444/googleCi.png);
}
.side-panel .btn_NAVER {
  background-image: url(http://localhost:4444/naverCi.png);
}

.side-panel .btn_SAMSUNG:after {
  content: "Connect with Samsung";
}
.side-panel .btn_GOOGLE:after {
  content: "Connect with Google";
}
.side-panel .btn_NAVER:after {
  content: "Connect with Naver";
}

/* SIGN UP */
.page-signup #application-title::before {
  content: "ACME Sign up";
}

.page-signup #application-description::before {
  content: "An ARTIK Cloud sample application.";
}


.password-requirements {
  display: block;
}
.password-requirements ul {
  font-size: 10px;
  margin: 0px;
}

.content:not(.no-side-panel) #signup {
  margin-top: 50px;
}

.content:not(.no-side-panel) #signup:before {
  content: "or sign up with your email";
  color: #333;
  font-size: 16px;
}

.content:not(.no-side-panel) #signup .form-inputs {
  margin-top: 10px;
}

/* FORGOT PASSWORD */
.page-forgotpassword #application-title::before {
  content: "ACME Forgot Password";
}

.page-forgotpassword #application-description::before {
  content: "Did you forget your password? No worry, that happens to the most of us. We can help you, we will send a message to your email with instructions on how to reset password.";
}

/* RESET PASSWORD */
.page-resetpassword #application-title::before {
  content: "ACME Reset Password";
}

.page-resetpassword #application-description::before {
  content: "Did you forget your password? No worry, that happens to the most of us. We can help you, we will send a message to your email with instructions on how to reset password.";
}

/* CHANGE PASSWORD */
.page-changepassword #application-title::before {
  content: "ACME Change Password";
}

.page-changepassword #application-description::before {
  content: "";
}

/* CHANGE EMAIL */
.page-changeemail #application-title::before {
  content: "ACME Change Email";
}


/* OTHER PAGES */
.page-message .container {
  padding-top:100px;
}


/* Errors */
.alert {
  width: 100%;
}

.alert-danger {
  background-color: #c35e5e;
  border-color: #a94442;
  color: #f1f1f1;
}

.alert-success {
  margin-top: 5px;
}


/* FORM customization*/

label {
  font-weight: normal;
  font-size: 13px;
  color: #666;
}
label.error {
 color:#c11717;
}

.form-control {
  border-radius: 2px;
  font-size: 12px;
}

a, .btn-link {
  color: #16638a;
  padding: 10px;
}

.well {
  color: #333;
}

.btn-primary {
 color: #fff;
 background-color: #16638a;
 border-color: #16638a;
}

.btn-lg {
 border-radius: 4px;
 padding: 20px;
 font-size: 14px;
 padding: 10px;
}

.has-error .control-label,
.has-error .help-block {
 color:#c11717;
}


