body {
  color: #888;
  background: #e5eaec;
  font-family: Verdana, Geneva, sans-serif;
}

div.container {
  border: 1px solid #0d3e56;
  background: #c0ccd2;
  background-image: url(http://localhost:4444/acme-logo.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-size: 60px;
  max-width: 800px;
}

#default-title {
  display: none;
}

#default-description {
  display: none;
}
.heading-title,
.heading-description {
  padding-left: 80px
}

h1, .heading-title {
  color: #0d3e56;
}


.heading-description {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* SIGN IN */
.header-login {
  padding-left: 80px;
}

.header-login-logo {
  font-size: 0px;
}

.header-login-title {
  font-size: 0px;
  color: #888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-login-title::before {
  font-size: 12px;
  content: "An ARTIK Cloud sample application";
}

.header-login-logo::before {
  content: "ACME Sign in";
  font-size: 32px;
}

.signin-alternative {
  text-align: center;
}

.signin-form-container {
  padding: 0px 30px;
}

.third-party-identity-providers-container {
    margin-top: 80px;
    border-right: 1px solid #aaa;
}

#signin #application-title::before {
  font-size: 16px;
  color: #333;
  content: "Sign in with your email";
}

#signin #application-description { 
  display: none;
}
#signin #application-description::before {
  content: "An ARTIK Cloud sample application";
}

/* SIGN UP */
#signup #application-title::before {
  content: "ACME Sign up";
}

#signup #application-description::before {
  content: "An ARTIK Cloud sample application.";
}


.password-requirements {
  display: block;
}
.password-requirements ul {
  font-size: 10px;
  margin: 0px;
}

/* FORGOT PASSWORD */
#forgotpassword #application-title::before {
  content: "ACME Forgot Password";
}

#forgotpassword #application-description::before {
  content: "Did you forget your password? No worry, that happens to the best of us. We can help you, we will send a message to your email with instructions on how to reset password.";
}

/* RESET PASSWORD */
#resetpassword #application-title::before {
  content: "ACME Reset Password";
}

#resetpassword #application-description::before {
  content: "Did you forget your password? No worry, that happens to the best of us. We can help you, we will send a message to your email with instructions on how to reset password.";
}


/* Errors */
.alert {
  width: 100%;
}

.alert-danger {
  background-color: #c35e5e;
  border-color: #a94442;
  color: #f1f1f1;
}

.alert-success {
  margin-top: 5px;
}

/* Multi identity providers */
ul.third-party-identity-providers {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.identity-provider-btn {
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  background-repeat: no-repeat;
  background-position: 30px center;
  width: 270px;
  text-align: left;
  padding-left: 80px;
}


.identity-provider-btn {
  font-size: 0px;
}

.identity-provider-samsung .identity-provider-btn {
  background-image: url(http://localhost:4444/samsungCi.png);
  background-position: 15px center;
}

.identity-provider-google .identity-provider-btn {
  background-image: url(http://localhost:4444/googleCi.png);
}
.identity-provider-naver .identity-provider-btn {
  background-image: url(http://localhost:4444/naverCi.png);
}

.identity-provider-btn:after {
  font-size: 14px;
}

.identity-provider-samsung .identity-provider-btn:after {
  content: "Connect with Samsung";
}
.identity-provider-naver .identity-provider-btn:after {
  content: "Connect with Naver";
}
.identity-provider-google .identity-provider-btn:after {
  content: "Connect with Google";
}

/* FORM customization*/

label {
  font-weight: normal;
  font-size: 13px;
  color: #666;
}
label.error {
 color:#c11717;
}

.form-control {
  border-radius: 2px;
  font-size: 12px;
}

a, .btn-link {
  color: #16638a;
  padding: 10px;
}

.well {
  color: #333;
}

.btn-primary {
 color: #fff;
 background-color: #16638a;
 border-color: #16638a;
}

.btn-lg {
 border-radius: 4px;
 padding: 20px;
 font-size: 14px;
 padding: 10px;
}


.has-error .control-label,
.has-error .help-block {
 color:#c11717;
}

